// .background-img{
//     background-position:center;
//     background-repeat:no-repeat;
//     background-size:cover;
// }

// Placeholder of SASS
%backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
